Repository fdsmith22/NeurlynTest: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Neurlyn
# Ensures code quality and consistency before commits

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Trim trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-yaml
        description: Check YAML syntax
      - id: check-json
        description: Check JSON syntax
      - id: check-added-large-files
        args: ['--maxkb=1000']
        description: Prevent large files from being committed
      - id: check-merge-conflict
        description: Check for merge conflict strings
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Fix mixed line endings

  # JavaScript/Node.js specific
  - repo: local
    hooks:
      # ESLint
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx)$
        exclude: ^(node_modules|dist|build|coverage)/
        description: Run ESLint on JavaScript files

      # Prettier
      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: \.(js|jsx|json|css|md)$
        exclude: ^(node_modules|dist|build|coverage)/
        description: Check code formatting with Prettier

      # Test runner (only on JS files)
      - id: jest-tests
        name: Run Tests
        entry: npm test
        language: system
        pass_filenames: false
        stages: [push]
        description: Run Jest tests before push

# Configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: 3.0.0

Fix CI/CD: Remove husky prepare script
  package.json
Due: prettier

Configure Vercel deployment and fix CI/CD
  .github/workflows/deploy.yml
  .vercelignore
  package-lock.json
  package.json
  vercel.json
Due: prettier

Fix CI/CD: Update deprecated upload-artifact v3 to v4
  .github/workflows/e2e.yml
  .github/workflows/pr-checks.yml
  .github/workflows/push-checks.yml
Due: none

Fix syntax error in task-controller.js
  js/modules/task-controller.js
Due: eslint, prettier

Fix CI/CD test failures and MongoDB configuration
  .github/workflows/deploy.yml
  .github/workflows/push-checks.yml
  backend.js
  tests/integration/api.test.js
Due: eslint, prettier

Fix E2E test environment configuration
  .github/workflows/e2e.yml
Due: none

Fix all CI/CD environment and test failures
  .github/workflows/ci-cd.yml
  .github/workflows/e2e.yml
  .github/workflows/push-checks.yml
Due: none

Fix E2E tests and ESLint warnings
  backend.js
  playwright.config.js
Due: eslint, prettier

Fix ESLint configuration to exclude generated files
  package.json
Due: prettier

Fix all remaining CI/CD issues properly
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/push-checks.yml
  eslint.config.js
  playwright.config.js
  scripts/start-test-backend.js
Due: eslint, prettier

Fix test backend server startup for E2E tests
  scripts/start-test-backend.js
Due: eslint, prettier

fix: Resolve Prettier formatting and syntax errors
  js/bundle.9bfe9037ef9350d0fed5.js
  js/bundle.f9e59ffdec091462d777.js
  js/modules/emergency-protocols.js
Due: eslint, prettier

fix: Handle TypeScript check when no TS files exist
  package.json
Due: prettier

fix: Improve E2E test server startup reliability
  playwright.config.js
  scripts/start-test-backend.js
Due: eslint, prettier

fix: Make comprehensive tests non-blocking temporarily
  .github/workflows/ci-cd.yml
Due: none

fix: Resolve mobile pricing card layout issues
  index.html
  styles/mobile-pricing-fix.css
Due: prettier

test: Add mobile view testing utility
  test-mobile-view.html
Due: none

fix: Comprehensive mobile layout fixes for main page
  index.html
  styles/mobile-complete-fix.css
Due: prettier

Fix mobile layout font sizes and text readability
  index.html
  mobile-layout-report.md
  screenshots/mobile-galaxy-s21-full.png
  screenshots/mobile-galaxy-s21-pricing.png
  screenshots/mobile-iphone-12-full.png
  screenshots/mobile-iphone-12-mini-full.png
  screenshots/mobile-iphone-12-mini-pricing.png
  screenshots/mobile-iphone-12-pricing.png
  screenshots/mobile-iphone-se-full.png
  screenshots/mobile-iphone-se-pricing.png
  screenshots/mobile-pixel-5-full.png
  screenshots/mobile-pixel-5-pricing.png
  styles/mobile-final-fixes.css
  test-results/.last-run.json
  test-results/mobile-layout-analysis-Mob-1b553-s-Analyze-layout-on-Pixel-5-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-1b553-s-Analyze-layout-on-Pixel-5-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-1b553-s-Analyze-layout-on-Pixel-5-webkit-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-5e1e8-Analyze-layout-on-iPhone-SE-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-5e1e8-Analyze-layout-on-iPhone-SE-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-5e1e8-Analyze-layout-on-iPhone-SE-webkit-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-79020-nalyze-layout-on-Galaxy-S21-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-79020-nalyze-layout-on-Galaxy-S21-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-79020-nalyze-layout-on-Galaxy-S21-webkit-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-90a94-ze-layout-on-iPhone-12-Mini-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-90a94-ze-layout-on-iPhone-12-Mini-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-90a94-ze-layout-on-iPhone-12-Mini-webkit-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-d206d-Analyze-layout-on-iPhone-12-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-d206d-Analyze-layout-on-iPhone-12-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-d206d-Analyze-layout-on-iPhone-12-webkit-retry1/trace.zip
  tests/e2e/mobile-layout-analysis.spec.js
Due: eslint, prettier

Fix mobile pricing cards layout and checkbox positioning
  .gitignore
  index.html
  styles/neurlyn-mobile-unified.css
  test-results/.last-run.json
  test-results/mobile-layout-analysis-Mob-1b553-s-Analyze-layout-on-Pixel-5-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-1b553-s-Analyze-layout-on-Pixel-5-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-1b553-s-Analyze-layout-on-Pixel-5-webkit-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-5e1e8-Analyze-layout-on-iPhone-SE-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-5e1e8-Analyze-layout-on-iPhone-SE-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-5e1e8-Analyze-layout-on-iPhone-SE-webkit-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-79020-nalyze-layout-on-Galaxy-S21-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-79020-nalyze-layout-on-Galaxy-S21-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-79020-nalyze-layout-on-Galaxy-S21-webkit-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-90a94-ze-layout-on-iPhone-12-Mini-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-90a94-ze-layout-on-iPhone-12-Mini-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-90a94-ze-layout-on-iPhone-12-Mini-webkit-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-d206d-Analyze-layout-on-iPhone-12-Microsoft-Edge-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-d206d-Analyze-layout-on-iPhone-12-Mobile-Safari-retry1/trace.zip
  test-results/mobile-layout-analysis-Mob-d206d-Analyze-layout-on-iPhone-12-webkit-retry1/trace.zip
  tests/e2e/test-mobile-pricing-fix.spec.js
Due: eslint, prettier

Fix E2E test failures by properly seeding database with 218+ questions
  .github/workflows/ci-cd.yml
  .github/workflows/e2e.yml
  scripts/seed-master-questions.js
Due: eslint, prettier

Archive old seed scripts and organize database seeding
  README.md
  package.json
  scripts/SEED_SCRIPTS_README.md
  scripts/archived-seeds/seed-all-expanded-questions.js
  scripts/archived-seeds/seed-all-questions.js
  scripts/archived-seeds/seed-database.js
  scripts/archived-seeds/seed-expanded-questions.js
  scripts/archived-seeds/seed-psychoanalytic-questions.js
Due: eslint, prettier

Fix ES6/CommonJS compatibility issue in improved-questions.js
  js/questions/improved-questions.js
Due: eslint, prettier

Fix ES6/CommonJS compatibility with dual module approach
  js/questions/improved-questions-commonjs.js
  scripts/seed-master-questions.js
Due: eslint, prettier

Fix E2E test failures - update expectations to match database
  tests/e2e/adaptive-api-optimized.spec.js
  tests/e2e/adaptive-api.spec.js
  tests/e2e/adaptive-questions.spec.js
Due: eslint, prettier

Fix E2E tests to match actual assessment flow
  tests/e2e/adaptive-api.spec.js
  tests/e2e/adaptive-questions.spec.js
Due: eslint, prettier

Fix E2E test infrastructure for CI/CD
  .github/workflows/e2e.yml
  package-lock.json
  package.json
  playwright.config.ci.js
Due: eslint, prettier

Fix backend server startup in CI environment
  .github/workflows/e2e.yml
  scripts/start-ci-backend.js
Due: eslint, prettier

Fix NODE_ENV validation in CI backend script
  scripts/start-ci-backend.js
Due: eslint, prettier

Simplify E2E server startup in CI
  .github/workflows/e2e.yml
  scripts/start-ci-backend.js
Due: eslint, prettier

Fix health endpoint path in E2E workflow
  .github/workflows/e2e.yml
Due: none

Fix server startup in E2E workflow
  .github/workflows/e2e.yml
Due: none

Improve server startup with process management and logging
  .github/workflows/e2e.yml
Due: none

Simplify server startup in E2E workflow
  .github/workflows/e2e.yml
Due: none

Use npx http-server instead of Python for frontend
  .github/workflows/e2e.yml
Due: none

Use Playwright's webServer config for server management
  .github/workflows/e2e.yml
  playwright.config.ci.js
Due: eslint, prettier

Remove server startup from visual-regression job too
  .github/workflows/e2e.yml
Due: none

Optimize E2E test suite for 70% faster CI execution
  .github/workflows/e2e.yml
  package.json
  playwright.config.ci.js
  playwright.config.critical.js
  tests/e2e/adaptive-api-core.spec.js
  tests/e2e/test-helpers.js
Due: eslint, prettier
