Repository fdsmith22/NeurlynTest: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Neurlyn
# Ensures code quality and consistency before commits

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Trim trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-yaml
        description: Check YAML syntax
      - id: check-json
        description: Check JSON syntax
      - id: check-added-large-files
        args: ['--maxkb=1000']
        description: Prevent large files from being committed
      - id: check-merge-conflict
        description: Check for merge conflict strings
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Fix mixed line endings

  # JavaScript/Node.js specific
  - repo: local
    hooks:
      # ESLint
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx)$
        exclude: ^(node_modules|dist|build|coverage)/
        description: Run ESLint on JavaScript files

      # Prettier
      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: \.(js|jsx|json|css|md)$
        exclude: ^(node_modules|dist|build|coverage)/
        description: Check code formatting with Prettier

      # Test runner (only on JS files)
      - id: jest-tests
        name: Run Tests
        entry: npm test
        language: system
        pass_filenames: false
        stages: [push]
        description: Run Jest tests before push

# Configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: 3.0.0

Fix E2E test failures for CI success
  index.html
  tests/e2e/test-helpers.js
Due: eslint, prettier

Fix CI/CD backend server configuration
  .github/workflows/ci-cd.yml
  playwright.config.critical.js
  scripts/start-test-backend.js
Due: eslint, prettier

Simplify CI/CD test matrix for stability
  .github/workflows/ci-cd.yml
  playwright.config.critical.js
Due: eslint, prettier

Fix deployment workflow for Vercel integration
  .github/workflows/deploy.yml
Due: none

Fix CI/CD server port conflicts
  playwright.config.ci.js
  playwright.config.critical.js
Due: eslint, prettier

Fix Playwright critical config grep filter issue
  playwright.config.critical.js
Due: eslint, prettier

Add API verification step to CI to debug database seeding timing
  .github/workflows/ci-cd.yml
Due: none

Fix E2E workflow database seeding and add API verification
  .github/workflows/e2e.yml
Due: none

Disable Vercel integration to remove unnecessary CI checks
  vercel.json.disabled
Due: none

Fix CI/CD test failures by creating proper personality questions
  .github/workflows/ci-cd.yml
  .github/workflows/e2e.yml
  scripts/seed-ci-test-questions.js
Due: eslint, prettier

Fix CI tests by adding proper weights and subcategories to test questions
  scripts/seed-ci-test-questions.js
Due: eslint, prettier

Fix CI test expectations by adjusting question weights and subcategories
  scripts/seed-ci-test-questions.js
Due: eslint, prettier

Fix remaining CI test failures
  index.html
  tests/e2e/adaptive-api-core.spec.js
  tests/e2e/homepage.spec.js
Due: eslint, prettier

Fix Start Assessment button test to handle in-page transitions
  tests/e2e/homepage.spec.js
Due: eslint, prettier

Fix Vercel deployment configuration
  api/index.js
  vercel.json
Due: eslint, prettier

Fix mobile layout issues for feature and pricing cards
  index.html
Due: none

Fix mobile pricing card content visibility and overlapping issues
  index.html
Due: none

Improve mobile pricing card proportions and container width
  index.html
Due: none

Fix mobile layout issues for pricing cards, navigation, and footer
  index.html
  styles/neurlyn-mobile-unified.css
Due: prettier

Fix mobile scroll separation and improve responsive UX
  index.html
  js/modules/mobile-compatibility.js
  package-lock.json
  package.json
  postcss.config.js
  styles/neurlyn-mobile-unified.css
  styles/responsive-utilities.css
  tests/e2e/mobile-viewports.spec.js
Due: eslint, prettier

Fix pricing card tick duplication and badge overlap issues
  index.html
  styles/neurlyn-mobile-unified.css
Due: prettier

Move pricing card badges to top border as tabs
  index.html
  styles/neurlyn-mobile-unified.css
Due: prettier

Fix badge cut-off issue at top of pricing cards
  index.html
  screenshots/assessment.png
  screenshots/homepage.png
  screenshots/mobile-galaxy-s21-full.png
  screenshots/mobile-galaxy-s21-pricing.png
  screenshots/mobile-iphone-12-full.png
  screenshots/mobile-iphone-12-mini-full.png
  screenshots/mobile-iphone-12-mini-pricing.png
  screenshots/mobile-iphone-12-pricing.png
  screenshots/mobile-iphone-se-full.png
  screenshots/mobile-iphone-se-pricing.png
  screenshots/mobile-pixel-5-full.png
  screenshots/mobile-pixel-5-pricing.png
  styles/neurlyn-mobile-unified.css
Due: prettier

Change badge to floating label style above cards
  index.html
  styles/neurlyn-mobile-unified.css
Due: prettier

Remove redundant hero section and consolidate welcome text
  index.html
Due: none

Phase 2: Archive organization and database cleanup
  .gitignore
  ARCHITECTURE_CLARITY.md
  DEVELOPMENT-STATUS.md
  FINAL_VALIDATION_REPORT.md
  IMPROVEMENTS_SUMMARY.md
  RESEARCH_INTEGRATION_SUMMARY.md
  docs/claude/assessment-architecture-overview.md
  mobile-layout-report.md
  psychological-research-database-extended.js
  psychological-research-database.js
  research-sources-database.js
  scripts/analyze-all-questions.js
  scripts/analyze-baseline-questions.js
  scripts/analyze-id-patterns.js
  scripts/check-neurodiversity-questions.js
  scripts/check-traits.js
  scripts/debug-baseline-questions.js
  scripts/deep-questionbank-analysis.js
  scripts/direct-db-check.js
  scripts/fix-adaptive-criteria.js
  scripts/fix-adaptive-thresholds.js
  scripts/fix-baseline-and-thresholds.js
  scripts/fix-baseline-big-five.js
  scripts/fix-baseline-tiers.js
  scripts/fix-questionbank-issues.js
  scripts/fix-schema-compliant-thresholds.js
  scripts/reorganize-questionbank.js
  scripts/standardize-question-ids.js
  scripts/test-baseline-query.js
  scripts/test-new-ids.js
  scripts/update-baseline-questions.js
  trait-facets-database.js
Due: eslint, prettier

Update pricing, features, and add comprehensive privacy messaging
  about.html
  index.html
  privacy.html
Due: none

Fix Vercel build: Add missing mini-css-extract-plugin dependency
  package.json
Due: prettier

Fix webpack build: Remove missing report-display-component entry
  webpack.config.optimized.js
Due: eslint, prettier

Improve visual styling of feature and pricing cards
  index.html
Due: none

Restructure feature cards: All 4 cards inline with privacy emphasized
  index.html
Due: none

Optimize feature card sizing and text readability
  index.html
Due: none

Increase font sizes across entire index page for better readability
  index.html
Due: none

Add comprehensive database seed with all 617 questions
  package.json
  scripts/data/complete-question-bank.json
  scripts/seed-complete-database.js
  scripts/seed-complete-expanded-questions.js
  scripts/seed-master-questions.js
Due: eslint, prettier
